/* colours */
:root {
  --primary: #5f43b2;
  --secondary: #4a148c;
  --title: #ffffff;
}

/* layout styles */
nav{
  background: var(--primary);
  border-bottom: 10px solid var(--secondary);
  box-shadow: none;
}

nav .brand-logo img {
  height: 60px;
}

nav #user-display {
  display: flex;
  align-items: center;
}

nav .user-display-item {
  font-size: 18px;
  margin-right: 16px;
}

nav .user-email {
  font-weight: bold;
}

nav .logout-button {
  font-size: 18px;
  color: #777777;
}

nav .logout-button:hover {
  color: #333333;
}

nav a{
  text-transform: uppercase;
  color: var(--title);
}
nav a span{
  font-weight: bold;
}
nav .sidenav-trigger{
  margin: 0;
}

/* contact styles */
.contacts{
  margin-top: 20px;
}
.card-panel.contact{
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);
  display: flex;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
  background: #80cbc4 ;
  align-items: center;
}


/* .contact img{
  width: 20%;
  max-width: 60px;
} */
/* .contact-details{
  width: 50%;
  margin-top: 3px;
} */
/* .contact-options{
  width: 20%;
  position: absolute;
  bottom: 0px;
  right: 0px;
} */

.contact-call{
  grid-area: delete;
  position: absolute;
  top: 0px;
  right: 0px;
}
.contact-call i{
  font-size: 18px;
}

.contact-title{
  font-weight: bold;
}
.contact-numbers{
  font-size: 0.8em;
}

.call_out{
  width: 18px;
}

/* form-styles */
.add-btn{
  background: var(--title) !important;
}
input{
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button{
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90,90,90,0.2);
}
form .input-field{
  margin-top: 30px;
}

.pk-contact{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90,90,90,0.1);  
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
  background: #80cbc4 ;
  align-items: center;
  margin-bottom: 8px;
}

.contact-image{
  width: 60px;
}
.contact-image > img{
  width: 100%;
}
.contact-details{
  display: flex;  
  flex-direction: column;
  flex: 1;
}

.contact-options i{
  justify-content: space-evenly;
  font-size: 18px;
  align-items: center;
  margin-top: 10px;
}

.contact-options{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 18px;
  align-items: center;
}

button {
  transition: transform 0.7s ease-in-out;
}


img {
  width: 160px;
  height: 160px;
}

#musicRecognitionForm img {
  background-color: inherit;
}

.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 24px;
  z-index: 9999;
  backdrop-filter: blur(10px);
}

.notification.show {
  animation: fadeIn 0.5s, fadeOut 0.5s 4.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.center-circular-button {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #0077cc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0;
  border: none;
}

.center-circular-button img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#map-container {
  height: 200px;
  width: 300px;
}